<div>
    <button class="btn btn-primary">Blue</button>
    <button class="btn btn-success">Green</button>

    <div class="row text-center">
        <div class="col-12 m-3">
            <b>Example of *ngIf vs if</b>
        </div>
    </div>

</div>

<div class="row text-center">
        <div class="col-4">
            <div >
                <input type="checkbox" (click) = "onClick()"> Terms and Conditions
            </div>
            <div *ngIf = "isChecked">
                <button class="btn btn-success"> Submit </button>
            </div>
        </div>
        
        <div class="col-4">
            <div *ngIf = "isInput">
                <input type="text" value="FedLearning">
            </div>
            <button class="btn btn-success m-3" (click) = "showField()"> show </button>
            <button class="btn btn-primary m-3" (click) = "hideField()"> hide </button>
            
        </div>
        <div class="col-4">
            
        </div>
</div>
