<section id="achievements" class="section-padding achievements-section">
    <div class="container">
        <h2>My <span class="highlight">Achievements</span></h2>

        <div class="timeline">
            <div class="timeline-line"></div>
            <div class="timeline-item" *ngFor="let item of achievements; let i = index" [class.left]="i % 2 === 0"
                [class.right]="i % 2 !== 0">
                <div class="timeline-content">
                    <div class="icon-circle">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="content-box">
                        <p>{{ item.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>