<footer>
    <div class="container">
        <div class="quote">
            "Building the future, one line at a time."
        </div>

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/hariharan-n-348420263/" target="_blank"><i
                    class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/hari-haran04" target="_blank"><i class="fab fa-github"></i></a>
        </div>

        <div class="copyright">
            &copy; {{ currentYear }} Hariharan N. All Rights Reserved.
        </div>
    </div>
</footer>